In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
col_90s = pd.read_csv('./data/col_1990s.csv')

col_90s.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,Colorado,1991-01-01,32.1,32.1,32.1,32.1,32.1,32.1,10.1,39.4,...,NaN,NaN,NaN,1991-01-01T07:21:12,1991-01-01T16:45:56,0.53,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,72469523036
1,Colorado,1991-01-02,35.0,12.3,24.3,35.0,12.3,22.9,14.9,72.2,...,NaN,NaN,NaN,1991-01-02T07:21:19,1991-01-02T16:46:46,0.57,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,72469523036
2,Colorado,1991-01-03,18.2,8.3,15.3,18.2,8.3,14.9,14.0,94.6,...,NaN,NaN,NaN,1991-01-03T07:21:24,1991-01-03T16:47:37,0.60,"Snow, Overcast",Cloudy skies throughout the day with afternoon...,snow,72469523036
3,Colorado,1991-01-04,27.2,16.1,21.7,27.2,16.1,21.0,17.4,83.9,...,NaN,NaN,NaN,1991-01-04T07:21:26,1991-01-04T16:48:30,0.63,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,72469523036
4,Colorado,1991-01-05,44.0,19.1,31.3,38.5,19.1,26.7,18.5,60.9,...,NaN,NaN,NaN,1991-01-05T07:21:27,1991-01-05T16:49:24,0.66,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,72469523036

In [4]:
col_90s.shape

(3257, 33)

In [12]:
col_90s.isnull().sum().index

Index(['name', 'datetime', 'tempmax', 'tempmin', 'temp', 'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'humidity', 'precip', 'precipprob',
       'precipcover', 'preciptype', 'snow', 'snowdepth', 'windgust',
       'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'sunrise',
       'sunset', 'moonphase', 'conditions', 'description', 'icon', 'stations'],
      dtype='object')

In [6]:
col_90s.dtypes

name                 object
datetime             object
tempmax             float64
tempmin             float64
temp                float64
feelslikemax        float64
feelslikemin        float64
feelslike           float64
dew                 float64
humidity            float64
precip              float64
precipprob            int64
precipcover         float64
preciptype           object
snow                float64
snowdepth           float64
windgust            float64
windspeed           float64
winddir             float64
sealevelpressure    float64
cloudcover          float64
visibility          float64
solarradiation      float64
solarenergy         float64
uvindex             float64
severerisk          float64
sunrise              object
sunset               object
moonphase           float64
conditions           object
description          object
icon                 object
stations             object
dtype: object

In [7]:
col_90s['preciptype'].fillna('neither', inplace = True)

In [13]:
col_90s.drop(columns = [col for col in col_90s.columns if col in col_90s.isnull().sum().index], inplace = True)

In [14]:
col_90s

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[3257 rows x 0 columns]