In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


import sktime
import statsmodels

# importing up front, will remove if not used. Imports via Lesson 9.05
import pmdarima
from sktime.forecasting.model_selection import temporal_train_test_split
from sktime.forecasting.naive import NaiveForecaster
from sktime.forecasting.arima import AutoARIMA
from sktime.forecasting.ets import AutoETS
from sktime.utils.plotting import plot_series

In [10]:
df = pd.read_csv(r'monthly_df_cleaned.csv')
df.head()

,aet,def,pet,ppt,q,soil,srad,swe,tmax
1990-01-01,21771.336575,21773.394642,21779.298679,1.426419e+09,1.426419e+09,21782.174328,21827.981936,1.426420e+09,21764.808181
1990-01-02,21771.144471,21772.950923,21778.662856,1.426419e+09,1.426419e+09,21782.309110,21817.372051,1.426420e+09,21764.353422
1990-01-03,21772.491551,21775.550217,21782.609230,1.426419e+09,1.426419e+09,21782.211111,21810.947748,1.426420e+09,21764.802737
1990-01-04,21774.322645,21775.911386,21784.801493,1.426419e+09,1.426419e+09,21782.707200,21813.346588,1.426420e+09,21765.294871
1990-01-05,21777.312543,21778.811099,21790.691105,1.426419e+09,1.426419e+09,21782.720816,21818.944024,1.426420e+09,21766.289915

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 396 entries, 1990-01-01 to 2022-01-12
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aet     396 non-null    float64
 1   def     384 non-null    float64
 2   pet     384 non-null    float64
 3   ppt     396 non-null    float64
 4   q       396 non-null    float64
 5   soil    396 non-null    float64
 6   srad    396 non-null    float64
 7   swe     384 non-null    float64
 8   tmax    204 non-null    float64
dtypes: float64(9)
memory usage: 30.9+ KB

I want to try out two different kinds of models: several univariate models (SARIMA, Holt-Winters) for individual features like soil moisture and AET, and some multivariate models since all the features present should be related to one another.

***Univariate Modeling:***

I'll try modeling soil moisture first.