In [55]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [33]:
col = pd.read_csv('../data/Colorado 2000-06-17 to 2022-06-17.csv')
col_nine = pd.read_csv('../data/col_1990s.csv')

In [34]:
col_nine.shape

(3257, 33)

In [4]:
col.shape

(8036, 33)

In [41]:
df = pd.concat([col, col_nine])
df.shape

(11293, 33)

In [48]:
df.columns

Index(['name', 'datetime', 'tempmax', 'tempmin', 'temp', 'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'humidity', 'precip', 'precipprob',
       'precipcover', 'preciptype', 'snow', 'snowdepth', 'windgust',
       'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'sunrise', 'sunset',
       'moonphase', 'conditions', 'description', 'icon', 'stations'],
      dtype='object')

In [42]:
df.isnull().sum()[lambda x: x > 0]

preciptype         7736
snow               3257
snowdepth          2797
windgust           6758
solarradiation     6741
solarenergy        6741
uvindex            6741
severerisk        11134
dtype: int64

In [57]:
df['preciptype'].value_counts()

preciptype
rain         2198
rain,snow     727
snow          632
Name: count, dtype: int64

In [64]:
df.groupby(by = 'preciptype', dropna = False)['precip'].value_counts()

preciptype  precip
rain        0.012       92
            0.004       85
            0.001       62
            0.002       58
            0.008       54
                      ...
snow        0.100        1
            0.099        1
            0.093        1
            0.089        1
NaN         0.000     7736
Name: count, Length: 999, dtype: int64

In [65]:
df['preciptype'].fillna('neither', inplace=True)

In [66]:
df['preciptype'].value_counts()

preciptype
neither      7736
rain         2198
rain,snow     727
snow          632
Name: count, dtype: int64

In [43]:
# Grouping columns with large null values 
features = df.isnull().sum()[lambda x: x > 0]
df_nulls = df[features.index]
df_nulls

,preciptype,snow,snowdepth,windgust,solarradiation,solarenergy,uvindex,severerisk
0,rain,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df['preciptype'].unique()

array(['rain', nan, 'rain,snow', 'snow'], dtype=object)

In [45]:
df['datetime']

0       2000-06-17
1       2000-06-18
2       2000-06-19
3       2000-06-20
4       2000-06-21
           ...
3252    1999-11-27
3253    1999-11-28
3254    1999-11-29
3255    1999-11-30
3256    1999-12-01
Name: datetime, Length: 11293, dtype: object

In [47]:
df.drop(columns=['severerisk'], inplace=True)

## Removing Redundant Columns

In [52]:
df['snow'].unique()

array([0. , 0.1, 1.8, 0.2, 0.3, 0.7, 0.8, 1.2, 0.4, 1.7, 2.1, 1.3, 1.1,
       0.5, 0.6, 0.9, 2.2, 3.5, 1.5, 1.6, 2.4, 2.3, 1. , 2. , 3.2, 1.9,
       5.8, 3. , 2.8, 3.6, 7.2, 4.3, 1.4, 4.1, 2.9, nan])

#### Because df['snow'] describes the amount of new snow fallen over the day and df['snowdepth'] describes the average amount of snow each day, these columns are similar enough where one is only needed. I'm choosing df['snowdepth'] because it provides me with broader information.

In [54]:
df.drop(columns=['snow'], inplace=True)

In [53]:
df['snowdepth'].unique()

array([ 0. ,  0.1,  0.2,  1.2,  0.8,  0.4,  0.5,  2.1, 12.1,  9.8,  6.8,
        2.5,  1. ,  0.7,  0.6,  2. ,  1.1,  0.3,  1.7,  0.9,  3.6,  3.7,
        1.9,  1.4,  1.3,  1.6,  2.9,  5.3,  2.4,  1.8,  1.5,  2.2,  2.3,
        8.3,  7.4,  3.5,  2.6,  2.8,  5.9,  3.9,  4.7,  2.7,  nan,  4.5,
        3.4,  3.2,  9.6,  7.5, 13. ,  8.7,  5.7,  6.7, 11.3, 13.8, 10.6,
        9.1,  9.3,  7.1,  5.1,  6.1,  5.5,  6.6,  6.3,  4.3,  3.3,  6. ,
        8.9,  7.9,  5.4, 10. ,  4.1,  3.1, 14.4, 17.9, 11.6,  5.2,  3. ,
        4.2])